@media screen and (min-width: 600px) {
  body {
    background-image: getVar(desktopBackgroundImage);
    background-size: 1450px;

    main {
      section {
        &#todo_list_menu {
          nav {
            position: static;
            top: 0;
            left: 0;
            padding: 0;
            width: auto;
            box-shadow: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  body {
    background-size: 100vw;
  }
}
